{% extends 'base2.html.twig' %}

{% block title %}EtudiantExamen index{% endblock %}

{% block body %}
    <h1>EtudiantExamen index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumeroEtudiant</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant_examan in etudiant_examens %}
            <tr>
                <td>{{ etudiant_examan.id }}</td>
                <td>{{ etudiant_examan.numeroEtudiant }}</td>
                <td>{{ etudiant_examan.note }}</td>
                <td>
                    <a href="{{ path('app_etudiant_examen_show', {'id': etudiant_examan.id}) }}">show</a>
                    <a href="{{ path('app_etudiant_examen_edit', {'id': etudiant_examan.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_etudiant_examen_new') }}">Create new</a>
{% endblock %}


        