

{% extends 'base2.html.twig' %}
{% block title %}Modifier le Projet{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier le Projet</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.nomP) }}
            {{ form_widget(form.nomP) }}
        </div>
        <div class="form-group">
            {{ form_label(form.descriptionP) }}
            {{ form_widget(form.descriptionP) }}
        </div>
        <div class="form-group">
            {{ form_label(form.dateDebut) }}
            {{ form_widget(form.dateDebut) }}
        </div>
        <div class="form-group">
            {{ form_label(form.dateFin) }}
            {{ form_widget(form.dateFin) }}
        </div>
        <div class="form-group">
            {{ form_label(form.statuts) }}
            {{ form_widget(form.statuts) }}
        </div>
        <div class="form-group">
            {{ form_label(form.pdfprojet) }}
            {{ form_widget(form.pdfprojet) }}
        </div>

        <button type="submit" class="btn btn-primary">Sauvegarder</button>
    {{ form_end(form) }}

    <a href="{{ path('app_projet_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
