
{% extends 'base2.html.twig' %}

{% block title %}Créer une ressource{% endblock %}

{% block body %}
    <h1>Créer une nouvelle ressource</h1>

    {{ form_start(form) }}
        {{ form_row(form.typeR) }}
        {{ form_row(form.nomR) }}
        {{ form_row(form.fileR) }}
        {{ form_row(form.dureeR) }}
        {{ form_row(form.pdfressource) }}

        <button class="btn btn-primary">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_ressource_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}

