{% extends 'base2.html.twig' %}

{% block title %}Détails de la ressource{% endblock %}

{% block body %}
    <h1>Détails de la ressource : {{ ressource.nomR }}</h1>

    <ul>
        <li><strong>Type :</strong> {{ ressource.typeR }}</li>
        <li><strong>Description :</strong> {{ ressource.fileR }}</li>
        <li><strong>Durée :</strong> {{ ressource.dureeR }} heures</li>
    </ul>

    {% if ressource.pdfressource %}
        <p><strong>Fichier PDF:</strong> <a href="{{ asset('uploads/pdf/' ~ ressource.pdfressource) }}" target="_blank">Télécharger</a></p>
    {% else %}
        <p>Aucun fichier PDF associé.</p>
    {% endif %}

    <a href="{{ path('app_ressource_index') }}" class="btn btn-secondary">Retour à la liste</a>
    <a href="{{ path('app_ressource_edit', {'id': ressource.id}) }}" class="btn btn-warning">Modifier</a>
    <form action="{{ path('app_ressource_delete', {'id': ressource.id}) }}" method="post" style="display:inline;">
        <button class="btn btn-danger">Supprimer</button>
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ressource.id) }}">
    </form>
{% endblock %}
